a {
	color: white;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
	color: white;
}

h2 {
	color: white;
}

img {
	margin-top: 10px;
	margin-bottom: 10px;
}

.jumbotron {
	position: relative;
	background: black url("../assets/images/jumbotron.jpg") center center;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
}

.boxart {
	max-width: 350px;
	max-height: 350px;
}

.vcenterparent {
	position: relative;
	height: 350px;
}

.vcenter {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.swapbtn {
	margin-left: 10px;
}

.signin-btn {
	margin-top: 20px;
	margin-bottom: 20px;
}

.prev-button {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 100px;
}

.next-button {
	position: absolute;
	bottom: 0;
	margin-bottom: 100px;
}

.text-box {
	background-color: whitesmoke;
}


table.borderless td, table.borderless tr {
  border-bottm: solid;
  border-top: solid;
  border-left: none !important;
  border-right: none !important;
  border-color: white;
}

table.message-border td, table.message-border tr {
	border: none !important;
}

table.whitesmoke td, table.whitesmoke tr {
	background-color: whitesmoke;
}

.table-tag {
	width: 100px;
	font-weight: bold;
}

.nopadding {
	padding-right: 0px;
	padding-left: 0px;
}

.nopadding-right {
	padding-right: 0px;
}

.nopadding-left {
	padding-left: 0px;
}

.nopadding-top {
	padding-top: 0px;
}

table.nomargin-bottom {
	margin-bottom: 0px !important;
}

table.margin-bottom-ten {
	margin-bottom: 10px !important;
}

table.margin-top {
	margin-top: 20px;
}

.line-break {
	border-top: solid;
	border-color: grey;
	border-width: 1px;
}

.head-space-xl {
	padding-top: 300px;
}

.head-space-lg {
	padding-top: 100px;
}

.head-space-md {
	padding-top: 20px;
}

.head-space-sm {
	padding-top: 10px;
}

.no-head-space {
	padding-top: 0px;
}

.foot-space-xl {
	padding-bottom: 300px;
}

.foot-space-lg {
	padding-bottom: 100px;
}

.foot-space-md {
	padding-bottom: 50px;
}

.foot-space-sm {
	padding-bottom: 20px;
}

.nav {
	background-color: black;
	color: white;
}
