<div class='row nav head-space-md foot-space-sm' ng-controller='IndexController as index'>
    <div class='col-md-1'></div>
    <a ui-sref='main' class='col-md-2'>GameSwap</a>
    <div class='col-md-5'></div>
    <a class='col-md-1 col-md-offset-2' ng-show='!index.isAuth' ui-sref='signin'>  Sign In  </a>
    <a ng-show='index.isAuth' class='col-md-1' ui-sref='userprofile'>Profile</a>
    <a ng-show='index.isAuth' class='col-md-1' ui-sref='messages'>Messages</a>
    <a ng-show='index.isAuth' class='col-md-1' ng-click="index.signOut()" ui-sref='signin'>Sign Out</a>
</div>

<div class='container-fluid col-md-offset-3 col-md-6'>
    <h3 class='head-space-md'>Sign Up</h3>
    <div ng-controller='SignupController as signup'>
  
    <form name="signupForm" ng-submit="signup.submit(signup)" novalidate>
        <div class="form-group" ng-class="{'has-error': signupForm.email.$invalid && !signupForm.email.$pristine }">
            <label>Email:</label>
            <input type="email" name="email" class="form-control" ng-model="signup.email">
            <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block">Please enter a valid email address.</p>
            <p ng-show="signup.emailExistsInDb" class="text-danger">Email address already exists in our database.</p>
        </div>

        <div class="form-group" ng-class="{'has-error': signupForm.username.$invalid && !signupForm.username.$pristine }">
            <label>Username:</label>
            <input type="text" name="username" class="form-control" ng-model="signup.username" ng-maxlength="20">
            <p ng-show="signupForm.username.$error.maxlength" class="help-block">Please choose a username that is less than 20 characters.</p>
        </div>

        <div class="form-group" ng-class="{'has-error': signupForm.password.$invalid && !signupForm.password.$pristine }">
            <label>Password:</label>
            <input type="password" name="password" class="form-control" ng-model="signup.password" ng-minlength="6">
            <p ng-show="signupForm.password.$error.minlength" class="help-block">Please choose a password that is at least 6 characters.</p>
        </div>

        <div class="form-group" ng-class="{'has-error': signupForm.city.$invalid && !signupForm.city.$pristine }">
            <label>City:</label>
            <input type="text" name="city" class="form-control" ng-model="signup.city">
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid">Submit</button>
    </form>

	<h3 class='head-space-md'>Already have a GameSwap account?</h3>
    <button ui-sref="signin" class='btn btn-default'>Sign in</button>

	</div>
</div>
