<div class='row nav head-space-md foot-space-sm' ng-controller='IndexController as index'>
    <div class='col-md-1'></div>
    <a ui-sref='main' class='col-md-2'>GameSwap</a>
    <div class='col-md-5'></div>
    <a class='col-md-1 col-md-offset-2' ng-show='!index.isAuth' ui-sref='signin'>  Sign In  </a>
    <a ng-show='index.isAuth' class='col-md-1' ui-sref='userprofile'>Profile</a>
    <a ng-show='index.isAuth' class='col-md-1' ui-sref='messages'>Messages</a>
    <a ng-show='index.isAuth' class='col-md-1' ng-click="index.signOut()" ui-sref='signin'>Sign Out</a>
  </div>

<div ng-controller='MainController as main'>
  <header class='jumbotron no-head-space foot-space-lg' ng-if='!main.isAuth'  >

    <h2 class='col-md-offset-2 col-md-8 head-space-xl foot-space-sm text-center'>
      Get the game you want, for the game you have.
    </h2>

    <form name='searchForm' class='foot-space-sm col-md-offset-3 col-md-6' ng-submit='searchForm.$valid && main.searchOfferings(game); game=""' novalidate>
      <div class='form-group'>
        <input class='form-control' type='text' ng-model='game' placeholder='What game do you want?' required/>
      </div>
    </form>

  </header>

  <div class='container-fluid'>
    <div ng-if='!main.isAuth && main.psGames.length || main.xboxGames.length | orderBy:"[game.platform]"'>

      <div class='col-md-12 text-center h4' ng-if='!main.isAuth && main.psGames.length === 1' ng-show='main.hasPlaystation === true'>
        There is
        {{main.psGames.length}}
        gamer who wants to swap
        {{main.psGames[0].title}}
        (Playstation 4).
      </div>

      <div class='col-md-12 text-center h4' ng-if='!main.isAuth && main.psGames.length > 1' ng-show='main.hasPlaystation === true'>
        There are
        {{main.psGames.length}}
        gamers who want to swap
        {{main.psGames[0].title}}
        (Playstation 4).
      </div>

      <div class='col-md-12' ng-if='!main.isAuth && main.psGames.length' ng-show='main.hasPlaystation === true'>
        <img class='boxart center-block' ng-src='{{main.psGames[0].thumbnail}}'>
      </div>

      <div class='col-md-12 text-center' ng-if='!main.isAuth && main.psGames.length' ng-show='main.hasPlaystation === true'>
        <button class='btn btn-default inline active' ng-click='main.displayPlaystation()'>PS4</button>
        <button class='btn btn-default inline active' ng-click='main.displayXbox()'>Xbox One</button>

      </div>

      <div class='col-md-4 col-md-offset-4' ng-if='!main.isAuth && main.psGames.length' ng-show='main.hasPlaystation === true'>
        <a class='btn btn-primary btn-lg btn-block active center-block signin-btn' role='button' ui-sref='signin'>Sign in to start swapping!</a>
      </div>

      <div class='text-center h4' ng-if='!main.isAuth && main.submitted === true && main.hasPlaystation === true && !main.psGames.length'>Sorry, please try a different Playstation 4 game.</div>

      <div class='col-md-12 text-center h4' ng-if='!main.isAuth && main.xboxGames.length === 1' ng-show='main.hasXbox === true'>
        There is
        {{main.xboxGames.length}}
        gamer who wants to swap
        {{main.xboxGames[0].title}}
        (Xbox One).
      </div>

      <div class='col-md-12 text-center h4' ng-if='!main.isAuth && main.xboxGames.length > 1' ng-show='main.hasXbox === true'>
        There are
        {{main.xboxGames.length}}
        gamers who want to swap
        {{main.xboxGames[0].title}}
        (Xbox One).
      </div>

      <div class='col-md-12' ng-if='!main.isAuth && main.xboxGames.length' ng-show='main.hasXbox === true'>
        <img class='boxart center-block' ng-src='{{main.xboxGames[0].thumbnail}}'>
      </div>

      <div class='col-md-12 text-center' ng-if='!main.isAuth && main.xboxGames.length' ng-show='main.hasXbox === true'>
        <button class='btn btn-default inline active' ng-click='main.displayPlaystation()'>PS4</button>
        <button class='btn btn-default inline active' ng-click='main.displayXbox()'>Xbox One</button>
      </div>

      <div class='col-md-4 col-md-offset-4' ng-if='!main.isAuth && main.xboxGames.length' ng-show='main.hasXbox === true'>
        <a class='btn btn-primary btn-lg btn-block active center-block signin-btn' role='button' ui-sref='signin'>Sign in to start swapping!</a>
      </div>

      <div class='text-center h4' ng-if='!main.isAuth && main.submitted === true && main.hasXbox === true && !main.xboxGames.length'>Sorry, please try a different Xbox One game.</div>

    </div>

    <div class='text-center h4' ng-if='!main.isAuth && main.submitted === true && !main.results.length'>Sorry, please try a different game.</div>

  </div>

  <div class='container-fluid'>

    <div class='row' ng-if='main.isAuth && main.swaps.length'>

      <div class='col-md-4 col-md-offset-1 text-center h1'>
        You Have
      </div>

      <div class='col-md-4 col-md-offset-2 text-center h1'>
        You Want
      </div>

      <div class='col-md-4 col-md-offset-1 text-center'>
        <img class='boxart center-block' ng-src='{{main.swaps[main.first].thumbnail}}'>
      </div>

      <div class='col-md-2 vcenterparent'>
        <div class="row vcenterparent">
          <button class='vcenter col-md-12 btn btn-primary btn-block btn-lg center-block swapbtn' ng-click='main.addRecipient(main.swaps[main.second].id, main.swaps[main.second].username)' ui-sref='messages'>Swap!</button>
        </div>

        <div class="row">
          <div class='col-md-6 '>

            <button class='btn btn-default inline active prev-button' ng-click='main.previous()'>Prev</button>

          </div>

          <div class='col-md-6 '>

            <button class='btn btn-default inline active next-button' ng-click='main.next()'>Next</button>

          </div>
        </div>


      </div>

      <div class='col-md-4 text-center nopadding'>

        <img class='boxart center-block' ng-src='{{main.swaps[main.second].thumbnail}}'>

      </div>

      <div class='col-md-4 col-md-offset-1 text-center h1'>
        {{main.userInfo.username}}
      </div>

      <div class='col-md-4 col-md-offset-2 text-center h1'>
        {{main.swaps[main.second].username}}
      </div>

    </div>

    <!-- <div class='text-center h2' ng-if='main.isAuth && !main.swaps.length'>
      <p>No swaps found!</p>
      <p>Add more games to your profile to start swapping.</p>
    </div> -->

  </div>

</div>
