<section ng-controller='MainController as main'>
  <header class='jumbotron no-head-space'>

    <h2 class='col-md-offset-2 col-md-8 head-space-xl foot-space-sm text-center'>
      Get the game you want, for the game you have.
    </h2>

    <form name='searchForm' class='foot-space-lg col-md-offset-3 col-md-6' ng-submit='searchForm.$valid && main.searchOfferings(game)' novalidate>
      <div class='form-group'>
          <input class='form-control' type='text' ng-model='game' placeholder='What game do you want?' required/>
      </div>
    </form>

  </header>

  <div class='container-fluid'>
    <div ng-if='!main.isAuth && main.psGames.length || main.xboxGames.length | orderBy:"[game.platform]"'>
      <div ng-if='!main.isAuth && main.psGames.length === 1' class='text-center' ng-show='main.hasPlaystation === true'>
        There is
        {{main.psGames.length}}
        gamer who wants to swap
        {{main.psGames[0].title}}
        ({{main.psGames[0].platform}}).
      </div>
      <div ng-if='!main.isAuth && main.psGames.length > 1' class='text-center' ng-show='main.hasPlaystation === true'>
        There are
        {{main.psGames.length}}
        gamers who wants to swap
        {{main.psGames[0].title}}
        ({{main.psGames[0].platform}}).
      </div>
      <div ng-if='!main.isAuth && main.psGames.length' class='col-md-4 text-center' ng-show='main.hasPlaystation === true'>
        <img class='boxart' ng-src='{{main.psGames[0].thumbnail}}'>
        <br>
        <button ng-click='main.displayPlaystation()'>PS4</button>
        <button ng-click='main.displayXbox()'>Xbox One</button>
      </div>
      <div ng-if='!main.isAuth && main.psGames.length' class='col-md-4'>
        <a class='text-center' ui-sref='signup'>Sign up</a>
      </div>
      <div class='text-center' ng-if='main.submitted === true && main.hasPlaystation === true && !main.psGames.length'>Sorry, please try a different Playstation 4 game.</div>
      <div ng-if='!main.isAuth && main.xboxGames.length === 1' class='text-center' ng-show='main.hasXbox === true'>
        There is
        {{main.xboxGames.length}}
        gamer who wants to swap
        {{main.xboxGames[0].title}}
        ({{main.xboxGames[0].platform}}).
      </div>
      <div ng-if='!main.isAuth && main.xboxGames.length > 1' class='text-center' ng-show='main.hasXbox === true'>
        There are
        {{main.xboxGames.length}}
        gamers who wants to swap
        {{main.xboxGames[0].title}}
        ({{main.xboxGames[0].platform}}).
      </div>
      <div ng-if='!main.isAuth && main.xboxGames.length' class='col-md-4 text-center' ng-show='main.hasXbox === true'>
        <img class='boxart' ng-src='{{main.xboxGames[0].thumbnail}}'>
        <br>
        <button ng-click='main.displayPlaystation()'>PS4</button>
        <button ng-click='main.displayXbox()'>Xbox One</button>
      </div>
      <div ng-if='!main.isAuth && main.xboxGames.length' class='col-md-4'>
        <a class='text-center' ui-sref='signup'>Sign up</a>
      </div>
      <div class='text-center' ng-if='main.submitted === true && main.hasXbox === true && !main.xboxGames.length'>Sorry, please try a different Xbox One game.</div>
    </div>
    <div class='text-center' ng-if='main.submitted === true && !main.results.length'>Sorry, please try a different game.</div>
    <div ng-if='main.isAuth && main.swaps.length'>
      <div class='col-md-4 text-center'>
        Username:
        {{main.swaps[0].username}}
        <br>
        Game:
        {{main.swaps[0].title}}
        <br>
        Platform:
        {{main.swaps[0].platform}}
        <br>
        <img class='boxart' ng-src='{{main.swaps[0].thumbnail}}'>
        <br>
      </div>
      <div class='col-md-4'>
        <button class='text-center' ng-click='main.addRecipient(main.swaps[0].username)' ui-sref='messages'>Swap!</button>
      </div>
      <div class='col-md-4 text-center'>
        Username:
        {{main.userInfo.username}}
        <br>
        Game:
        {{main.swaps[1].title}}
        <br>
        Platform:
        {{main.swaps[1].platform}}
        <br>
        <img class='boxart' ng-src='{{main.swaps[1].thumbnail}}'>
        <br>
      </div>
    </div>
  </div>
</section>
