<section ng-controller='MessagesController as messages'>
  <form name="MessagesForm" ng-submit='MessagesForm.$valid && messages.sendMessage(messageText, messages.toId)' novalidate>
    <h4>Send a Message</h4>
    <p>To:
      {{messages.toName}}</p>
    <p>From:
      {{messages.username}}</p>
    <fieldset class="form-group">
      <textarea class="form-control" placeholder="Send a message..." title="Message" ng-model='messageText'/required></textarea>
    </fieldset>
    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary pull-right" value="Send Message" />
    </fieldset>
  </form>
  <blockquote ng-show='messages.messageHistory.length'  ng-repeat='message in messages.messageHistory | orderBy: "username, -createdat"'>
    <p>
      From:
      {{message.username}}
    </p>
    <p>
      Message:
      {{message.message}}
    </p>
  </blockquote>
</section>
