<div class='container-fluid col-md-offset-3 col-md-6' ng-controller='ProfileController as profile'>
	<h3 class='head-space-md'>Your Profile</h3>
	
	<table class='table borderless table-condensed'>
		<tr>
			<td><b>username:</b></td>
			<td>{{ profile.username }}</td>
		</tr>
		<tr>
			<td><b>email:</b></td>
			<td>{{ profile.email }}</td>
		</tr>
		<tr>
			<td><b>city:</b></td>
			<td ng-show='profile.city'> {{ profile.city }} </td>
		</tr>
	</table>

	<div class='foot-space-sm'>
		<div ng-show='profile.updateClicked === false'>
			<button ng-click='profile.toggleUpdate()' class='btn btn-default'>edit city</button>
		</div>

		<form ng-show='profile.updateClicked === true'>
			<input class='form-control' type='text' ng-model='profile.address.city' placeholder="City" />
			<br>
			<button class='btn btn-default' ng-click='profile.submitUpdate(profile.address)'>submit edits</button>
		</form>
	</div>

	<h3 class='head-space-md line-break'>games you are currently offering: </h3>

		<table class='table borderless' ng-repeat='game in profile.gamesOffered'>
			<tr>
				<td class='col-md-1'><b>Title:</b></td> <td class='col-md-2'>{{ game.title }}</td>
				<td class='col-md-1'><b>Platform:</b></td> <td class='col-md-2'>{{ game.platform }}</td>
			</tr>
		</table>

<!--		

		<form class='foot-space-md'>
			<div class='form-group'>
			Add a new title: 
				<div class='row'>
					
					<div class='col-md-6 nopadding'>
						<input class='form-control' type="text" ng-model='profile.gameToOffer.title' required />
					</div>

					<div class='col-md-2 nopadding'>
						<select class="selectpicker form-control btn btn-default" type='button' title="Platform" ng-model='profile.gameToOffer.platform'>
	      				<option value="">Please choose</option>
	      				<option value="Playstation 4">PlayStation 4</option>
	      				<option value="Xbox One">Xbox One</option>
	    			</select>
	    		</div>

	    		<div class='col-md-2 nopadding'>
	    			<button class='btn btn-default form-control' ng-click="profile.addOffer(profile.gameToOffer); profile.gameOffer=''">add</button>
	    		</div>

    		</div>
  		</div>
		</form>

-->		

		<form class='foot-space-lg' name="offerForm" ng-submit="profile.addOffer(profile.gameToOffer); profile.gameToOffer.title = ''; profile.gameToOffer.platform = ''" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : offerForm.title.$invalid && !offerForm.title.$pristine }">
			Add a new title:
			<div class='row'>
				<div class='col-md-6 nopadding'>
					<input type="text" name="title" class="form-control" ng-model="profile.gameToOffer.title" required />
				</div>

				<div class='col-md-2 nopadding'>
					<select class="selectpicker btn btn-default form-control" role='button' ng-model='profile.gameToOffer.platform'>
	    				<option value="">Platform</option>
	    				<option value="Playstation 4">PlayStation 4</option>
	    				<option value="Xbox One">Xbox One</option>
	  				</select>
	  				<p ng-show="profile.noOffPlatform" class='text-danger'>Please choose a platform.</p>
	  			</div>
				<div class='col-md-2 nopadding'>
	  			<button type="submit" class="btn btn-primary" ng-disabled="offerForm.$invalid">add</button>
	  			</div>
  			</div>
  		</div>
		</form>

		<h3>games you are currently seeking: </h3>
		
		<div class='head-space-md'>
			<table class='table borderless' ng-repeat='game in profile.gamesSeeking'>
				<tr>
					<td class='col-md-1'><b>Title:</b></td> <td class='col-md-2'>{{ game.title }}</td>
					<td class='col-md-1'><b>Platform:</b></td> <td class='col-md-2'>{{ game.platform }}</td>
				</tr>
			</table>
		</div>

		<br>
<!--
		<form class='foot-space-lg'>
			<div class='form-group'>
			Add a new title:
			<div class='row'>
				<div class='col-md-6 nopadding'>
					<input class='form-control' type="text" ng-model='profile.gameToSeek.title' required />
				</div>

				<div class='col-md-2 nopadding'>
					<select class="selectpicker btn btn-default form-control" role='button' ng-model='profile.gameToSeek.platform'>
	    				<option value="">Platform</option>
	    				<option value="Playstation 4">PlayStation 4</option>
	    				<option value="Xbox One">Xbox One</option>
	  			</select>
	  		</div>
				<div class='col-md-2 nopadding'>
	  			<button class='btn btn-default form-control' ng-click="profile.addSeek(profile.gameToSeek); profile.gameToSeek=''">add</button>
	  		</div>
  		</div>
		</form>
	-->

		<form class='foot-space-lg' name="seekForm" ng-submit="profile.addSeek(profile.gameToSeek); profile.gameToSeek.title = ''; profile.gameToSeek.platform = ''" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : seekForm.title.$invalid && !seekForm.title.$pristine }">
			Add a new title:
			<div class='row'>
				<div class='col-md-6 nopadding'>
					<input type="text" name="title" class="form-control" ng-model="profile.gameToSeek.title" required />
				</div>

				<div class='col-md-2 nopadding'>
					<select class="selectpicker btn btn-default form-control" role='button' ng-model='profile.gameToSeek.platform'>
	    				<option value="">Platform</option>
	    				<option value="Playstation 4">PlayStation 4</option>
	    				<option value="Xbox One">Xbox One</option>
	  				</select>
	  				<p ng-show="profile.noSeekPlatform" class='text-danger'>Please choose a platform.</p>
	  			</div>
				<div class='col-md-2 nopadding'>
	  			<button type="submit" class="btn btn-primary" ng-disabled="seekForm.$invalid">add</button>
	  			</div>
  			</div>
  		</div>
		</form>

	</div>
</div>