<div class='row nav head-space-md foot-space-sm' ng-controller='IndexController as index'>
  <div class='col-md-1'></div>
  <a ui-sref='main' class='col-md-2'>GameSwap</a>
  <div class='col-md-5'></div>
  <a class='col-md-1 col-md-offset-2' ng-show='!index.isAuth' ui-sref='signin'>  Sign In  </a>
  <a ng-show='index.isAuth' class='col-md-1' ui-sref='userprofile'>Profile</a>
  <a ng-show='index.isAuth' class='col-md-1' ui-sref='messages'>Messages</a>
  <a ng-show='index.isAuth' class='col-md-1' ng-click="index.signOut()" ui-sref='main'>Sign Out</a>
</div>

<div class='container-fluid col-md-offset-3 col-md-6' ng-controller='ProfileController as profile'>
  <h3 class='head-space-md'>Your profile</h3>

  <table class='table message-border table-condensed'>
    <tr>
      <td class='table-tag'>Username:</td>
      <td>{{ profile.username }}</td>
    </tr>
    <tr>
      <td class='table-tag'>Email:</td>
      <td>{{ profile.email }}</td>
    </tr>
    <tr>
      <td class='table-tag'>City:</td>
      <td ng-show='profile.city'> {{ profile.city }} </td>
    </tr>
  </table>

  <div class='foot-space-sm'>
    <div ng-show='profile.updateClicked === false'>
      <button ng-click='profile.toggleUpdate()' class='btn btn-default'>Edit City</button>
    </div>

    <form ng-show='profile.updateClicked === true'>
      <input class='form-control' type='text' ng-model='profile.address.city' placeholder="City" />
      <br>
      <button class='btn btn-default' ng-click='profile.submitUpdate(profile.address)'>Submit Edits</button>
    </form>
  </div>

  <h3 class='head-space-md line-break'>Games you are currently offering: </h3>

  <table class='table borderless whitesmoke margin-bottom-ten' ng-repeat='game in profile.gamesOffered'>
    <tr>
      <td class='col-md-1'><b>Title:</b></td> <td class='col-md-2'>{{ game.title }}</td>
      <td class='col-md-1'><b>Platform:</b></td> <td class='col-md-2'>{{ game.platform }}</td>
    </tr>
  </table>


  <form class='foot-space-sm' name="offerForm" ng-submit="profile.addOffer(profile.gameToOffer); profile.gameToOffer.title = ''; profile.gameToOffer.platform = ''" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : offerForm.title.$invalid && !offerForm.title.$pristine }">
      Add a new title:
      <div class='row'>
        <div class='col-md-8 nopadding-right'>
          <input type="text" name="title" class="form-control" ng-model="profile.gameToOffer.title" required />
        </div>

        <div class='col-md-3 nopadding'>
          <select class="selectpicker btn btn-default form-control" role='button' ng-model='profile.gameToOffer.platform'>
            <option value="">Platform</option>
            <option value="Playstation 4">PlayStation 4</option>
            <option value="Xbox One">Xbox One</option>
          </select>
          <p ng-show="profile.noOffPlatform" class='text-danger'>Please choose a platform.</p>
        </div>
        <div class='col-md-1 nopadding-left'>
          <button type="submit" class="btn btn-primary" ng-disabled="offerForm.$invalid">Add</button>
        </div>
      </div>
    </div>
  </form>

  <h3 class='head-space-md'>Games you are currently seeking: </h3>

  <div class='head-space-sm'>
    <table class='table borderless whitesmoke margin-bottom-ten' ng-repeat='game in profile.gamesSeeking'>
      <tr>
        <td class='col-md-1'><b>Title:</b></td> <td class='col-md-2'>{{ game.title }}</td>
        <td class='col-md-1'><b>Platform:</b></td> <td class='col-md-2'>{{ game.platform }}</td>
      </tr>
    </table>
  </div>

  <form class='foot-space-sm' name="seekForm" ng-submit="profile.addSeek(profile.gameToSeek); profile.gameToSeek.title = ''; profile.gameToSeek.platform = ''" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : seekForm.title.$invalid && !seekForm.title.$pristine }">
      Add a new title:
      <div class='row'>
        <div class='col-md-8 nopadding-right'>
          <input type="text" name="title" class="form-control" ng-model="profile.gameToSeek.title" required />
        </div>

        <div class='col-md-3 nopadding'>
          <select class="selectpicker btn btn-default form-control" role='button' ng-model='profile.gameToSeek.platform'>
            <option value="">Platform</option>
            <option value="Playstation 4">PlayStation 4</option>
            <option value="Xbox One">Xbox One</option>
          </select>
          <p ng-show="profile.noSeekPlatform" class='text-danger'>Please choose a platform.</p>
        </div>
        <div class='col-md-1 nopadding-left'>
          <button type="submit" class="btn btn-primary" ng-disabled="seekForm.$invalid">Add</button>
        </div>
      </div>
    </div>
  </form>
  <div class='col-md-8 col-md-offset-2' ng-show='profile.gamesOffered.length && profile.gamesSeeking.length'>
    <a class='btn btn-primary btn-lg btn-block active center-block signin-btn' role='button' ui-sref='main'>See available game swaps in your city!</a>
  </div>
</div>
</div>
